.casasenventa {
  @include enventa-grid-layout;

  .img-casa1,
  .img-casa2,
  .img-casa3,
  .img-casa4 {
    @include text-center;

    img {
      width: 85%;
    }

    p {
      color: crimson;
      font-size: 1.6rem;
    }
  }
}
