@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $spacing 0;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);

    a {
      @include text-center;
    }

    ul {
      @include flex-center;
      gap: 25px;

      li {
        list-style: none;
        margin-top: 5px;
      }
    }
  }
}

.logo-inmo {
  width: 45%;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
    color: $secondary-color;
  }
}

h1 {
  @include text-center;
  font-size: 45px;
  margin-top: 60px;
}

.subtitulo-pag-principal {
  @include text-center;
  padding: 0 120px;
}

.subtitulo-casas-enventa {
  @include text-center;
  margin: 60px 0 30px 0;
}

.container-casas-venta {
  @include grid-layout;

  .titulo-casa1,
  .titulo-casa2,
  .titulo-casa3,
  .titulo-casa4 {
    align-self: self-end;
  }

  .imagen-casa1,
  .imagen-casa2,
  .imagen-casa3,
  .imagen-casa4 {
    width: $image-width;
  }

  .titulo-casa1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .imagen-casa1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .titulo-casa2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .imagen-casa2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .titulo-casa3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .imagen-casa3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .titulo-casa4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .imagen-casa4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

footer {
  background-color: $footer-bg;
  padding: $spacing;
  @include flex-center;
  justify-content: space-around;

  .footer-text1 {
    font-size: 1.7rem;
    font-weight: bold;
    color: $secondary-color;
  }
}

.subtitulo-servicios,
.texto-servicios,
.video-servicios {
  @include text-center;
  margin-bottom: 20px;
}

.video-servicios {
  margin-bottom: 70px;
}
