.todoslosservicios {
  @include flex-center;
  gap: 20px;
  margin: 70px 50px;

  .servicio1,
  .servicio2,
  .servicio3 {
    @include card-style;

    h3 {
      font-size: 1.5rem;
      color: $primary-color;
      margin: 20px 0;
      text-align: center;
    }

    p {
      @include text-center;
    }

    img {
      width: 70%;
    }
  }
}
