@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  font-family: "Oswald", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  header nav a {
    text-align: center;
  }

  .logo-inmo {
    width: 45%;
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0;
  }

  nav ul li a {
    font-size: 1rem;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0 10px;
    font-weight: bold;
  }

  .subtitulo-pag-principal {
    font-size: 0.95rem;
    padding: 0 20px;
    text-align: justify;
  }

  /* SECCIÓN CASAS EN VENTA */
  .subtitulo-casas-enventa {
    font-size: 1.2rem;
    margin: 30px 0 15px;
  }

  .container-casas-venta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .casas {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }

  .titulo-casa1,
  .titulo-casa2,
  .titulo-casa3,
  .titulo-casa4 {
    font-size: 1.3rem;
    align-self: self-start;
    padding-left: 89px;
  }

  /* SERVICIOS */
  .subtitulo-servicios {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
  }

  .texto-servicios {
    font-size: 0.95rem;
    text-align: center;
    padding: 0 20px;
  }

  .video-servicios {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .video-servicios iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    background-color: #e6e4e8;
  }

  .footer-text1 {
    font-size: 1.9rem;
    color: palevioletred;
    text-align: center;
  }

  .footer-text2 {
    font-size: 0.9rem;
    text-align: center;
  }

  .redes {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .redes img {
    width: 37px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .imagen-casa1 {
    width: 94%;
  }

  .imagen-casa2,
  .imagen-casa3,
  .imagen-casa4 {
    width: 95%;
  }

  .titulo-casa1,
  .titulo-casa2,
  .titulo-casa3,
  .titulo-casa4 {
    align-self: self-start;
  }

  .container-casas-venta {
    row-gap: 10px;
    margin-bottom: 55px;
  }
}
