@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  font-family: "Oswald", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header nav a {
  text-align: center;
}

.logo-inmo {
  width: 45%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
}

nav ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

nav ul li {
  list-style: none;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
  color: palevioletred;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 60px;
}

.subtitulo-pag-principal {
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

.subtitulo-casas-enventa {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.container-casas-venta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 50px 250px 50px;
  margin-bottom: 70px;
  justify-items: center;
  row-gap: 25px;
}

.titulo-casa1 {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: self-end;
}

.imagen-casa1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 69%;
}

.titulo-casa2 {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: self-end;
}

.imagen-casa2 {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 70%;
}

.titulo-casa3 {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: self-end;
}

.imagen-casa3 {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 70%;
}

.titulo-casa4 {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: self-end;
}

.imagen-casa4 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 70%;
}

footer {
  background-color: #e6e4e8;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-text1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: palevioletred;
}

.subtitulo-servicios {
  text-align: center;
}

.texto-servicios {
  text-align: center;
  margin-bottom: 20px;
}

.video-servicios {
  text-align: center;
  margin-bottom: 70px;
}

/*nosotros nosotros nosotros nosotros nosotros nosotros nosotros*/

.nosotros {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  gap: 30px;
  margin-bottom: 70px;
}

.img-marcelo,
.img-raul,
.img-marcela {
  display: flex;
  align-items: center;
}

.img-marcelo p,
.img-raul p,
.img-marcela p {
  margin-left: 0;
  text-align: left;
  padding: 0 40px;
}

.img-marcelo h3,
.img-raul h3,
.img-marcela h3 {
  padding: 0 40px;
  font-size: 2rem;
}

.img-marcelo img {
  width: 30%;
}

.img-raul img {
  width: 30%;
}

.img-marcela img {
  width: 30%;
}

/*en venta en venta en venta en venta en venta en venta en venta*/

.casasenventa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 60px;
  margin-bottom: 60px;
  row-gap: 35px;
}

.img-casa1,
.img-casa2,
.img-casa3,
.img-casa4 {
  text-align: center;
}

.img-casa1 img,
.img-casa2 img,
.img-casa3 img,
.img-casa4 img {
  width: 85%;
}

.img-casa1 p,
.img-casa2 p,
.img-casa3 p,
.img-casa4 p {
  color: crimson;
  font-size: 1.6rem;
}

/*contacto contacto contacto contacto contacto contacto contacto*/

.formulario {
  display: grid;
  justify-content: center;
  margin: 80px 0;
}

.formulario .form {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 70px 70px 200px 70px;
  align-items: center;
}

.form-name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.form-name input {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
}

.form-email {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 25px;
}

.form-email input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.form-telefono {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 30px;
}

.form-telefono input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.form-direccion {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 25px;
  margin-top: 30px;
}

.form-direccion input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.form-mensaje {
  grid-column: 1/3;
  grid-row: 3/4;
  margin-top: 90px;
}

.form-mensaje textarea {
  width: 690px;
  height: 175px;
  margin-top: 10px;
}

.boton {
  grid-column: 2/3;
  grid-row: 4/5;
  width: 35%;
  margin-top: 90px;
  justify-self: end;
}

/*servicios servicios servicios servicios servicios servicios servicios*/

.todoslosservicios {
  display: flex;
  gap: 20px;
  margin: 50px 70px;
  justify-content: center;
}

.servicio1 img,
.servicio3 img,
.servicio2 img {
  width: 70%;
}

.servicio1 p,
.servicio2 p,
.servicio3 p {
  text-align: center;
}

.servicio1 h3,
.servicio2 h3,
.servicio3 h3 {
  font-size: 1.5rem;
  color: burlywood;
  margin-top: 20px;
  margin-bottom: 20px;
}

.servicio1,
.servicio2,
.servicio3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px;
  border: 2px solid burlywood;
  width: 30%;
}

.servicio1:hover,
.servicio2:hover,
.servicio3:hover {
  border: 4px solid rgb(164, 38, 38);
  cursor: pointer;
}
